.switcher {
  @switch-height: 64;
  display: inline-block;
  appearance: none;
  position: relative;
  width: 104/@rem-unit;
  height: @switch-height/@rem-unit;
  border: @border-width-default solid #FDFDFD;
  outline: 0;
  border-radius: 32/@rem-unit;
  background: #FDFDFD;

  &::before, &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;  
    border-radius: 30/@rem-unit;
    background-color: @color-chrome;
    .transition(transform .3s);
  }

  &::before {
    width: 100/@rem-unit;
    height: (@switch-height - 4)/@rem-unit;
  }

  &::after {
    width: (@switch-height - 4)/@rem-unit;
    height: (@switch-height - 4)/@rem-unit;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
  }

  &.checked {
    border-color: @color-success;
    background-color: @color-success;

    &::before {
      .scale(0);
    }

    &::after {
      .transform(translateX(40/@rem-unit));
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}
